/*
 * Vela layout
 *
 * Vela styles for partial elements like items carousel, breadcrumbs etc.
 * File is load on every pages with vela header and footer
 * --------------------------------------------------------------------------------*/
#pagecontent1.main-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Breadcrumbs
---------------------------------------------------------------------------------- */
.vela .main-breadcrumb {
    z-index: 210;
    position: relative;
    padding: 28px 15px 5px;
    min-height: 90px;
}
.ie8 .vela .main-breadcrumb {
    min-height: 57px;
}
.vela .main-breadcrumb h1 {
    display: inline-block;
    margin: 0 0 4px 0;
    font-size: 2.6em;
    color: #303030;
    font-weight: bold;
}
.vela .main-breadcrumb small {
    display: inline-block;
    position: relative;
    top: 11px;
    padding-left: 5px;
    color: #7F7F7F;
    font-size: 1.3em;
    font-weight: normal;
    vertical-align: top;
}
.vela .main-breadcrumb .main-breadcrumb-list {
    list-style: none;
    margin: 3px 0 0;
    padding: 0;
    position: relative;
    font-size: 1.3em;
}
.vela .main-breadcrumb .main-breadcrumb-list  > li {
    float: left;
    position: relative;
    margin-right: 8px;
    white-space: nowrap;
}
.vela .main-breadcrumb .main-breadcrumb-list  > li:not(:last-child):after {
    content: '-';
    position: absolute;
    top: 0;
    right: -7px;
}
.vela .main-breadcrumb .main-breadcrumb-list  > li:last-child {
    margin-left: 4px;
}
.vela .main-breadcrumb .main-breadcrumb-list  > li:first-child {
    margin-left: 0;
}
.vela .main-breadcrumb .main-breadcrumb-list  > li:first-child  > a {
    color: #0083ff;
    padding-left: 0;
}
.vela .main-breadcrumb .main-breadcrumb-show-apron {
    border: solid transparent;
    border-width: 0 1px;
}
.vela .main-breadcrumb .main-breadcrumb-show-apron > a {
    position: relative;
    height: 20px;
    padding: 0 4px 4px;
    color: #0083ff;
}
.vela .main-breadcrumb .main-breadcrumb-show-apron  > a i {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    z-index: 220;
}
.vela .main-breadcrumb .main-breadcrumb-show-apron  > a i i {
    display: inline-block;
    left: auto;
    right: -5px;
    height: 5px;
    width: 5px;
    background: transparent;
    border: solid #D4D4D4;
    border-width: 0 0 1px 1px;
    border-radius: 0 0 0 4px;
    box-shadow: -3px 0 0 0 #ffffff;
}
.vela .main-breadcrumb .main-breadcrumb-show-apron:hover {
    border-color: #D4D4D4;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.2);
}
.vela .main-breadcrumb .main-breadcrumb-show-apron:hover > a i {
    opacity: 1;
    visibility: visible;
}
.vela .main-breadcrumb .main-breadcrumb-list > li,
.vela .main-breadcrumb .main-breadcrumb-list > li > a i,
.vela .main-breadcrumb .main-breadcrumb-list > li:hover > a,
.vela .main-breadcrumb .main-breadcrumb-list > li .main-breadcrumb-apron {
    -webkit-transition: all 0s linear .4s;
    -moz-transition: all 0s linear .4s;
    -ms-transition: all 0s linear .4s;
    -o-transition: all 0s linear .4s;
    transition: all 0s linear .4s;
}
.vela .main-breadcrumb .main-breadcrumb-list ul {
    padding: 3px 5px 3px 0;
    margin: 0;
    white-space: nowrap;
    float: left;
}
.vela .main-breadcrumb .main-breadcrumb-list ul li {
    display: block;
    clear: both;
    padding: 3px 0;
}
.vela .main-breadcrumb .main-breadcrumb-list ul a {
    display: block;
    text-decoration: none;
    padding: 0 5px;
    float: none;
    font-size: 1.1em;
}
.vela .main-breadcrumb .main-breadcrumb-list ul a:hover {
    text-decoration: underline;
}
.vela .main-breadcrumb .main-breadcrumb-list ul:not(:first-child) {
    margin-left: 20px;
}
.vela .main-breadcrumb .main-breadcrumb-list li.main-breadcrumb-show-apron a {
    padding: 0 4px 4px;
}
.vela .main-breadcrumb .main-breadcrumb-list li .main-breadcrumb-apron {
    position: absolute;
    z-index: 215;
    left: -1px;
    top: 17px;
    margin: 2px 0 0;
    padding: 0 6px 0 0;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    border: 1px solid #D4D4D4;
    border-radius: 0 4px 4px 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    min-width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}
.vela .main-breadcrumb .main-breadcrumb-list li.active a,
.vela .main-breadcrumb .main-breadcrumb-list li:hover a {
    background: #fff;
}
.vela .main-breadcrumb .main-breadcrumb-list li.active .main-breadcrumb-apron,
.vela .main-breadcrumb .main-breadcrumb-list li:hover .main-breadcrumb-apron {
    visibility: visible;
    opacity: 1;
}
.vela .main-breadcrumb .main-breadcrumb-list li.active ul a,
.vela .main-breadcrumb .main-breadcrumb-list li:hover ul a {
    background: none;
}
.vela .main-breadcrumb .main-breadcrumb-list a {
    position: relative;
    float: left;
    padding: 0 5px;
    text-decoration: none;
}
.vela .main-breadcrumb .main-breadcrumb-list a:hover {
    text-decoration: underline;
}
.vela .main-breadcrumb .main-breadcrumb-list .clear-left {
    padding-left: 0;
}
.ie8 .vela .main-breadcrumb {
    min-height: 60px;
}
.vela .main-breadcrumb h1 {
    font-size: 26px;
    line-height: 32px;
    text-indent: -1px;
}
.vela .main-breadcrumb h1 .user-rating {
    color: #7f7f7f;
    font-size: 13px;
    font-weight: normal;
}
.vela .main-breadcrumb h1.brandzone {
    margin-bottom: 15px;
}
.vela .main-breadcrumb h1.brandzone .brandzone-logo-small {
    vertical-align: middle;
}
.vela .main-breadcrumb .user-warning {
    margin-left: 20px;
    color: #7f7f7f;
    font-size: 16px;
    font-weight: bold;
    text-transform: lowercase;
}
.vela .main-breadcrumb .user-warning a {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url(../vela/vela-icons-sprite.png) no-repeat -64px -16px;
    vertical-align: text-top;
}
.vela .main-breadcrumb .user-warning a img { display: none; }
.vela .main-breadcrumb .user-warning .errorincontent { color: #ee3e2b; }
.vela .main-breadcrumb h1 .user > a,
.vela .main-breadcrumb h1 .user > span {
    position: relative;
    top: -2px;
}
.vela .main-breadcrumb h1 .user .uname { position: static; }
.vela .main-breadcrumb .main-breadcrumb-list {
    font-size: 13px;
    float: left;
    visibility: hidden;
}
.vela .main-breadcrumb .main-breadcrumb-list ul a {
    font-size: 11px;
}
.vela .main-breadcrumb .main-breadcrumb-list ul a:visited {
    color: #5e42c5;
}
.vela .main-breadcrumb small {
    font-size: 13px;
    display: inline;
}
.vela .main-breadcrumb.sa {
    padding-left: 70px;
}
.vela .main-breadcrumb.search h1 {
    position: relative;
    white-space: nowrap;
    max-width: 80%;
}
.vela .main-breadcrumb.search h1:after {
    content: '\201D';
}
.vela .main-breadcrumb.search h1 span {
    display: inline-block;
    white-space: nowrap;
    vertical-align: bottom;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 82%;
}
.vela .main-breadcrumb.search h1 span:before {
    content: '\201E';
}
/* Breadcrumb on show item page */
#siTitleBar.vela-si-social {
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 0;
}
.ie8 #siTitleBar.vela-si-social.sep-t {
    border-top: solid 1px #d4d4d4;
}
#siTitleBar.vela-si-social.sep-t:before {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: -webkit-linear-gradient(left, #fff, #d4d4d4 10%, #d4d4d4 90%, #fff);
    background: -moz-linear-gradient(left, rgba(255,255,255,.01), #d4d4d4 10%, #d4d4d4 90%, rgba(255,255,255,.01));
    background: -ms-linear-gradient(left, rgba(255,255,255,.01), #d4d4d4 10%, #d4d4d4 90%, rgba(255,255,255,.01));
    background: -o-linear-gradient(left, rgba(255,255,255,.01), #d4d4d4 10%, #d4d4d4 90%, rgba(255,255,255,.01));
    background: linear-gradient(left, rgba(255,255,255,.01), #d4d4d4 10%, #d4d4d4 90%, rgba(255,255,255,.01));
}
.vela .main-breadcrumb.sa .siIcoAS {
    left: 15px;
    top: 22px;
}

.aukro-cz .vela .main-breadcrumb.sa .siIcoAS {
    background: url(/site_images/56/0/aukroplus/ico-big.png);
}


/* Items carousel
---------------------------------------------------------------------------------- */
.vela .items-box {
    position: relative;
}
.vela .items-box.more-like-this {
    margin: 20px 0;
}
.vela .items-box h2 {
    margin: .5em 0;
}
.vela .items-box.loading {
    background: url(/site_images/1/0/vela/ajax-loader.gif) no-repeat 50% 50%;
    -webkit-transition-property: opacity height;
    -moz-transition-property: opacity height;
    -ms-transition-property: opacity height;
    -o-transition-property: opacity height;
    transition-property: opacity height;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    -ms-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
}
.vela .items-box.loading .items-carousel {
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -ms-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    padding-bottom: 0;
}
.vela .items-box.loading.init {
    background: none;
}
.vela .items-box.loading.empty {
    opacity: 0;
    filter: alpha(opacity="0");
    height: 1px;
    overflow: hidden;
}
.vela .items-box .items-wrap {
    list-style: none;
    text-align: center;
    padding: 0 0 20px;
    margin: 0;
}
.vela .items-box .items-wrap li {
    width: 22%;
    margin: 0 1%;
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.quirks .vela .items-box .items-wrap li {
    float: left;
    width: 16%;
}
.quirks .vela .items-box.visible-4 .items-wrap li {
    width: 20%
}
.vela .items-box .items-wrap li .photo {
    text-align: center;
}
.vela .items-box .items-wrap li a.photo {
    display: block;
}
.vela .items-box .items-wrap li .photo a {
    display: inline-block;
    position: relative;
}
.vela .items-box .items-wrap li .photo .no-photo,
.vela .items-box .items-wrap li .photo img {
    display: inline-block;
}
.vela .items-box .items-wrap li .photo .no-photo {
    width: 128px;
    height: 96px;
}
.vela .items-box .items-wrap li h3 {
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.1em;
    margin: .5em 0;
}
.vela .items-box .items-wrap li .price {
    font-size: 1.3em;
    text-transform: lowercase;
}
.vela .items-box .items-wrap li time {
    display: block;
    font-size: 1.2em;
    text-align: left;
    padding-top: .5em;
}
.vela .items-box .items-wrap li time.ending {
    color: #FC0F0F;
}
.vela .items-box.fluid .items-wrap li {
    width: 22%;
}
.vela .items-box.fluid .items-wrap li  + li + li + li + li {
    display: none;
}
@media screen and (min-width: 1090px) {
    .vela .items-box.fluid .items-wrap li {
        width: 17%;
    }
    .vela .items-box.fluid .items-wrap li  + li + li + li + li {
        display: inline-block;
    }
}
.vela .items-box.visible-5 li {
    width: 17%;
}
.vela .items-box.carousel-box {
    height: 260px;
}
/* Items box with carousel
 * -------------------------- */
.vela .items-carousel {
    position: relative;
    padding: 0 40px 20px;
}
.vela .items-carousel .anim {
    display: none;
}
.vela .items-carousel .carousel-nav a {
    position: absolute;
    top: 40px;
    display: block;
    width: 17px;
    height: 26px;
    margin: 0;
    outline: 0;
    background-position: -2px -79px;
    text-indent: -99999px;
}
.vela .items-carousel .carousel-nav a.carousel-prev {
    left: 2px;
}
.vela .items-carousel .carousel-nav a.carousel-next {
    right: 2px;
    background-position: -19px -79px;
}
.vela .items-carousel .carousel-nav a.inactive {
    opacity: 0.2;
    filter: alpha(opacity="20");
}
.vela .items-carousel div.items-wrap ul,
.vela .items-carousel ul.items-wrap {
    padding: 0;
}
.vela .items-carousel .items-wrap .thumb {
    display: inline-block;
}
.vela .items-carousel .items-wrap h3 {
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.1em;
    text-align: left;
    margin-bottom: .2em;
}
.vela .items-carousel .items-wrap .price {
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
    display: block;
}
.vela .items-carousel .items-wrap .price .buy-now {
    font-weight: normal;
    color: #FF7100;
    padding-right: 5px;
}


/* Go to top
---------------------------------------------------------------------------------- */
.go-to-top {
    position: fixed;
    bottom: 60px;
    right: 0;
    width: 37px;
    height: 37px;
    background: transparent;
    cursor: pointer;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
    z-index: 1000;
}
.go-to-top:focus { outline: 0; }
.go-to-top.hidden {
    opacity: 0;
    filter: alpha(opacity=0);

}

.go-to-top:after {
    content: '';
}

.go-to-top:after,
.go-to-top.showitem > span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 14px;
    height: 9px;
    margin-left: -7px;
    margin-top: -4px;
    background: transparent url(../vela/sprite-listing.png) no-repeat 0 -109px;
}
.go-to-top:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 37px;
    background: #000;
    border-radius: 3px 0 0 3px;
    opacity: .5;
    filter: alpha(opacity=50);
}

.go-to-top:hover:before,
.go-to-top.showitem:hover {
    opacity: .7;
    filter: alpha(opacity=70);
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}

.go-to-top.showitem {
    background-color: #000;
    border-radius: 3px 0 0 3px;
    opacity: .5;
    filter: alpha(opacity=50);
}

.go-to-top.showitem:after,
.go-to-top.showitem:before {
    display: none;
}

.ie8 .go-to-top:before {
    background: #7f7f7f;
}

.ie8 .go-to-top:hover:before {
    background: #4c4c4c;
}


/* Split buttons
 * -------------------------------------------------------------
 * Button divided into two parts: default option and dropdown list
 */
div.btn-group {
    display: inline-block;
    -webkit-box-shadow: 1px 1px 1px 0px #f6f6f6;
    box-shadow: 1px 1px 1px 0px #f6f6f6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
div.btn-group .btn {
    display: inline-block;
    position: relative;
    float: left;
    padding: 10px 20px;
    border: 1px solid #cccccc;
    border-radius: 0;
    font-family: arial;
    font-size: 1.3em;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #f0f0f0;
    background-image: -moz-linear-gradient(top, #ffffff 5%, #e6e6e6 100%);
    background-image: -webkit-linear-gradient(top, #ffffff 5%, #e6e6e6 100%);
    background-image: -o-linear-gradient(top, #ffffff 5%, #e6e6e6 100%);
    background-image: -ms-linear-gradient(top, #ffffff 5%, #e6e6e6 100%);
    background-image: linear-gradient(top, #ffffff 5%, #e6e6e6 100%);
    background-repeat: repeat-x;
}
div.btn-group .btn:hover {
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
div.btn-group .btn:active {
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
div.btn-group .btn[disabled="disabled"] {
    cursor: default;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #757575;
}
div.btn-group > .btn:first-child {
    margin-left: 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
div.btn-group form {
    float: left;
}
div.btn-group form .btn {
    border-left: 0;
}
div.btn-group > .btn:last-child,
div.btn-group > .dropdown-toggle {
    padding-right: 14px;
    padding-left: 14px;
    border-left: none;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
div.btn-group.open button.dropdown-toggle {
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #e6e6e6;
    background-position: 0 -15px;
}
/* Carrets
 * --------------------------
 * Styles for button arrows
 */
.carret {
    content: "";
    display: inline-block;
    width: 11px;
    height: 6px;
    background: transparent url(../vela/vela-icons-sprite.png) 0 -58px no-repeat;
    margin-bottom: 2px;
    vertical-align: middle;
}
/* Dropdown
 * ----------------------------------------------
 * Style for dropdown executed by the button
 */
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 4px 0;
    margin: 1px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.styled-dropdown .dropdown-menu {
    width: 100%;
    cursor: default;
}
.dropdown-menu.menu-to-right {
    left: auto;
    right: 0;
}
.dropdown-menu li {
    line-height: 18px;
}
.dropdown-menu li > span,
.dropdown-menu li > a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-size: 1.3em;
    text-decoration: none;
    line-height: 18px;
    color: #333333;
    white-space: nowrap;
}
.dropdown-menu li > span:hover,
.dropdown-menu li > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0083ff;
}
.open .dropdown-menu {
    display: block;
}
.vela .dropdown-menu {
    margin: 1px 0 0;
    padding: 0;
    min-width: 100%;
}
.vela .btn-group {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 13px;
    position: relative;
}
.vela div.btn-group .btn {
    height: 38px;
    font-size: 13px;
    text-transform: none;
}
.vela .dropdown-menu li > a {
    font-size: 13px;
}
.vela div.btn-group > .btn-single {
    border-left: 1px solid #CCCCCC;
}
.vela .main-title-breadcrumbs .main-title {
    overflow: hidden;
}
.vela .main-functional-button {
    float: right;
}
.vela .main-breadcrumb h1 small {
    top: 3px;
}


/* Star ratings
---------------------------------------------------------------------------------- */
.vela a.starAnchor { vertical-align: middle; }
.vela a.starAnchor,
.vela a.starAnchor * { display: inline-block; }
.vela a.starAnchor .star1,
.vela a.starAnchor .star2,
.vela a.starAnchor .star3,
.vela a.starAnchor .star4,
.vela a.starAnchor .star5,
.vela a.starAnchor .star6 {
    background: url(../stars/stars_new.png?v=2) 0 0 no-repeat;
    height: 16px;
    width: 18px;
}
.vela a.starAnchor .star1 {background-position: 2px 0;}
.vela a.starAnchor .star2 {background-position: -16px 0;}
.vela a.starAnchor .star3 {background-position: -35px 0;}
.vela a.starAnchor .star4 {background-position: -54px 0;}
.vela a.starAnchor .star5 {background-position: -73px 0;}
.vela a.starAnchor .star6 {background-position: -92px 0;}

/* Messages
 * ----------------------------------------------
 * Styles for no results message
 */

.blank-slate-message {
    margin: 70px 0;
    padding: 0 20px;
    color: #a6a6a6;
    font: 10px/1.25 Arial, Helvetica, sans-serif;
    text-align: center;
}
.blank-slate-message p {
    margin: 0 0 5px;
    font-size: 1.3em;
}
.blank-slate-message p:first-child {
    font-size: 2.2em;
    font-weight: 700;
}
.blank-slate-message a {
    color: #0083ff;
    text-decoration: none;
}
.blank-slate-message a:visited {
    color: #5e42c5;
}
.blank-slate-message a:hover {
    text-decoration: underline;
}
/* orange btn */
.vela button.primary-btn {
    border: 1px solid #ff7b1e;
    color: #FFF;
    text-shadow: 1px 1px 0px #ff3b10;
    -moz-box-shadow: inset 0px 1px 0px 0px #ff9502;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ff9502;
    box-shadow: inset 0px 1px 0px 0px #ff9502;
    background-color: #ff7300;
    background-image: -moz-linear-gradient(top, #ff9502 5%, #ff6600 100%);
    background-image: -webkit-linear-gradient(top, #ff9502 5%, #ff6600 100%);
    background-image: -o-linear-gradient(top, #ff9502 5%, #ff6600 100%);
    background-image: -ms-linear-gradient(top, #ff9502 5%, #ff6600 100%);
    background-image: linear-gradient(top, #ff9502 5%, #ff6600 100%);
    background-repeat: repeat-x;
    font-size: 15px;
}
.vela button.primary-btn:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #ff6600;
    background-position: 0 -10px;
}
.vela a.primary-btn:visited {
    color: #FFF;
}
.vela button.btn-link {
    border-color: transparent;
    background: transparent;
    border-radius: 0 0 0 0;
    font-weight: normal;
    color: #0083ff!important;
    padding: 10px 14px;
    cursor: pointer;
    font-size: 15px;
}
.vela button.btn-link:hover {
    color: #0083ff;
    background: transparent;
    text-decoration: underline;
    box-shadow: none;
}

/* SM Adverts */

.helptip.helptip-sm-advert {
    width: auto;
    min-width: 375px;
    max-width: 410px;
    z-index: 490;
}
.helptip.helptip-sm-advert > div {
    max-height: 170px;
}
.helptip.helptip-sm-advert.pos_t .arrow,
.helptip.helptip-sm-advert.pos_b .arrow {
    margin-left: -4px;
}
.helptip.helptip-sm-advert .tipTxt {
    overflow: hidden;
}
.helptip.helptip-sm-advert .sm-advert-title {
    margin: 0 0 15px;
}
.helptip.helptip-sm-advert .sm-advert-logo {
    float: left;
    margin-right: 20px;
}
.helptip.helptip-sm-advert .sm-advert-info {
    float: left;
    padding-left: 140px;
    background: url('../sell_manager/nms-logo-small.png') no-repeat 0 0;
}
.helptip.helptip-sm-advert .sm-advert-info ul {
    padding: 0 0 0 1.2em;
}

.message-box.message-box-sm-advert {
    min-height: 32px;
    margin-top: 1.5em;
    margin-bottom: 2.5em;
    background: #fff url('../sell_manager/nms-logo-small.png') no-repeat 30px 50% !important;
}

.message-box.message-box-sm-advert .message {
    display: table-cell;
    height: 32px;
    margin: 0;
    padding-left: 180px;
    vertical-align: middle;
    text-align: left;;
}


@-webkit-keyframes boostTipToggle {
    0% {opacity: 0;}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 0;}
}
@-moz-keyframes boostTipToggle {
    0% {opacity: 0;}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes boostTipToggle {
    0% {opacity: 0;}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 0;}
}

.boost-tip {
    padding: 10px;
    background: #3A5674;
    background: rgba(23, 56, 92, 0.85);
    border-radius: 3px;
    color: #fff;
    white-space: nowrap;
}
.boost-tips {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 10000;
}
.boost-tips .boost-tip {
    position: absolute;
    right: 0;
    bottom: 0;

    opacity:0;
    -webkit-animation: boostTipToggle ease-in 1;
    -moz-animation: boostTipToggle ease-in 1;
    animation: boostTipToggle ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    animation-duration: 10s;

    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}
.boost-tips .boost-tip + .boost-tip {
    bottom: 42px;

    -webkit-animation-duration: 8s;
    -moz-animation-duration: 8s;
    animation-duration: 8s;

    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}
.boost-tips .boost-tip + .boost-tip + .boost-tip {
    bottom: 84px;

    -webkit-animation-duration: 7s;
    -moz-animation-duration: 7s;
    animation-duration: 7s;

    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
}
